.post-template-default h1{
  color: #6f6c6c;
}

.post-template-default footer{
  border-style: none;
}

.updated{
  color: #87CEFA;
}

.entry-content{
  padding: 70px 0 100px 0;
}

article footer{
  height: 0;
}

.fn a{
  color: #6f6c6c;
}

#comments h2{
  color: #6f6c6c;
  padding-top: 30px;
}

.comment-meta{
  margin-bottom: 60px;
}

.comment-metadata a{
  color: #87CEFA;
}

.comment-metadata .edit-link a{
  color: black;
}

#comments .comment-content{
  padding-top: 10px;
}

#comments .reply a{
  color: black;
}

#respond{
  padding-top: 30px;
}

#reply-title{
  color: black;
}

#respond form p label{
  color: black;
}