.reference-template-default{
  color: white;
}

.reference-template-default .content{
  margin: 0 15% 0 15%;
}

.reference-template-default h1{
  color: white;
}

.updated{
  color: #87CEFA;
}

.entry-content{
  padding: 70px 0 100px 0;
}